*.o
*.hi
*~
*.hi-boot
*.o-boot
.cabal-sandbox/
cabal.sandbox.config
tmp
playground
csrc/test.c
csrc/Threads/backup
Code/802.11a/receiver/*.c
Code/802.11a/receiver/*.exe
Code/802.11a/receiver/*.expanded
Code/802.11a/receiver/*.outfile
Code/802.11a/receiver/*~
Code/802.11a/receiver/*.old
Code/802.11a/receiver/compout
Code/802.11a/receiver/vectorized/*.c
Code/802.11a/receiver/vectorized/*.exe
Code/802.11a/receiver/vectorized/*.expanded
Code/802.11a/receiver/vectorized/*.outfile
Code/802.11a/receiver/vectorized/*~
Code/802.11a/receiver/vectorized/compout
Code/802.11a/receiver/pipelined/old
Code/802.11a/transmitter/*.c
Code/802.11a/transmitter/*.exe
Code/802.11a/transmitter/*.expanded
Code/802.11a/transmitter/*.outfile
Code/802.11a/transmitter/*~
Code/802.11a/receiver/pipelined/*.wpl.c
Code/802.11a/receiver/pipelined/*.wpl.expanded
Code/802.11a/receiver/vectorized/pipelined/*.wpl.c
Code/802.11a/receiver/vectorized/pipelined/*.wpl.expanded
Code/802.11a/*/perfout
Code/802.11a/*/*/perfout
Code/802.11a/*/compout
Code/802.11a/*/*/*.c
Code/802.11a/*/*/*.expanded
Code/802.11a/*/*/*.outfile
Code/802.11a/*/*/*.old
Code/802.11a/*/*/*.tmp
Code/802.11a/*/*.c
Code/802.11a/*/*.expanded
Code/802.11a/*/*.outfile
Code/802.11a/*/*.old
Code/802.11a/*/*.tmp
Code/802.11a/*/*/*/*.c
Code/802.11a/*/*/*/*.expanded
Code/802.11a/*/*/*/*.outfile
Code/802.11a/*/*/*/*.old
Code/802.11a/*/*/*/*.tmp
scripts/ninetyPercentTest.exe
tests/*.c
tests/*.exe
tests/*.outfile
tests/*.test
tests/backend/*.c
tests/backend/*.exe
tests/backend/*.expanded
tests/backend/*.outfile
tests/backend/*.test
tests/vectorize/*.c
tests/vectorize/*.exe
tests/vectorize/*.outfile
tests/vectorize/*.test
tests/lut/*.c
tests/lut/*.exe
tests/lut/*.expanded
tests/lut/*.outfile
tests/lut/*.test
bugs/*.c
bugs/*.exe
bugs/*.expanded
bugs/*.outfile
bugs/*.test
bugs/compout
bugs/perfout
wplc
wplc.exe
performance/eat
performance/result*.txt
performance/play*
performance/*.wpl.c
performance/*.wpl.expanded
performance/perfout
performance/compout
tests/perfout
tests/compout
tests/*/perfout
tests/*/compout
tests/*/*.wpl.c
tests/*/*.wpl.c.outfile
tests/*/*.wpl.expanded
tests/*/*.out
doc/*/*.aux
doc/*/*.log
doc/*/*.out
doc/*/*.pdf



/Code/802.11a/receiver/pipelined/compout
/Code/802.11a/receiver/vectorized/pipelined/compout
/Code/802.11a/receiver/vectorized/pipelined/perfout
/Codegen/CgTypes.hs.orig
/Wrapper/CompilerDDK.psess
/Wrapper/CompilerDDK/stdio.txt
/Wrapper/CompilerDDK1.psess
/Wrapper/CompilerDDK2.psess
/Wrapper/CompilerDDK3.psess
/csrc/driver_backup.c
/csrc/test_threads.c
/performance/.expanded
/"performance/eat\r"
/"performance/eat\r"
/performance/resultsBaseline.txt.copy
/performance/resultsPar.txt.copy
/performance/runBindCopy
/tests/backend/standalone.wpl.orig
/tests/pipeline/map.wpl.infile.old
/tests/pipeline/test.txt
/tests/pipeline/aggressive/*.wpl.c
/tests/pipeline/aggressive/*.wpl.c.outfile
/tests/pipeline/aggressive/*.wpl.expanded
/tests/pipeline/aggressive/compout
/tests/pipeline/aggressive/perfout
/Wrapper/CompilerDDK4.psess
/performance/~$PerfEval.xlsx
/Wrapper/CompilerDDK/buildfre_win7_amd64.err
/Code/802.11a/receiver/vectorized/test.wpl
/Code/802.11a/transmitter/vectorized_tx/compout
/perfResults.txt
/perf_log.txt
/Wrapper/CompilerDDK/My Amplifier XE Results - CompilerDDK
/csrc/CompilerDDK/objfre_win7_amd64/*
/csrc/CompilerDDK/objchk_win7_amd64/*
/csrc/CompilerDDK/objfre_wxp_x86/*
/csrc/CompilerDDK/objchk_wxp_x86/*
/_Wrapper/Wrapper.sdf
/_Wrapper/Wrapper.sln
/_Wrapper/Wrapper.v11.suo
/csrc/CompilerDDK/Debug/CompilerDDK.log
/csrc/CompilerDDK/buildchk_win7_amd64.log
/csrc/CompilerDDK/buildchk_win7_amd64.wrn
/csrc/CompilerDDK/buildfre_win7_amd64.log
/csrc/CompilerDDK/buildfre_win7_amd64.wrn
/csrc/CompilerDDK/buildchk_wxp_x86.log
/csrc/CompilerDDK/buildchk_wxp_x86.wrn
/csrc/CompilerDDK/buildfre_wxp_x86.log
/csrc/CompilerDDK/buildfre_wxp_x86.wrn
/csrc/CompilerDDK/target/amd64/CompilerDDK.exe
/csrc/CompilerDDK/target/amd64/CompilerDDK.pdb
/csrc/CompilerDDK/target/i386/CompilerDDK.exe
/csrc/CompilerDDK/target/i386/CompilerDDK.pdb
/csrc/CompilerDDK/eat
/csrc/CompilerDDK/buildfre_win7_amd64.log
/csrc/CompilerDDK/buildfre_win7_amd64.wrn
/csrc/CompilerDDK/objfre_win7_amd64/
/csrc/CompilerDDK/target/
/csrc/CompilerDDK/Debug/
/csrc/CompilerDDK/wrapper.infile
/csrc/CompilerDDK/wrapper.outfile
/csrc/CompilerDDK/wrapper_perf.asm
/csrc/CompilerDDK/*.vcxproj.filters.orig
/csrc/CompilerDDK/*.vcxproj.orig
/csrc/CompilerDDK/*.vcxproj.user
/csrc/CompilerDDK/*.log
/csrc/CompilerDDK/*.wrn
/csrc/CompilerDDK/*.outfile
/csrc/CompilerDDK/objchk_win7_amd64
/csrc/CompilerDDK/objchk_wxp_x86
/csrc/CompilerDDK/*/*.log
/csrc/CompilerVS2012/Debug/*
/csrc/CompilerVS2012/CompilerVS2012.vcxproj.user
/csrc/*.vsp
/csrc/Debug/*
/csrc/*.sdf
/csrc/*.suo
/csrc/*.opensdf
/csrc/*/perfout
/csrc/*/compout
/csrc/Wrapper.opensdf
/csrc/Wrapper.sdf
/csrc/*.exe
/_tests/*/*.wpl.c
/_tests/*/*.wpl.c.outfile
/_tests/*/*.wpl.expanded
/_tests/*/compout
/_tests/*/perfout
/_tests/*/*outfile
/csrc/test.c
/tools/BlinkDiff*
code/WiFi/receiver/*.c
code/WiFi/receiver/*.exe
code/WiFi/receiver/*.expanded
code/WiFi/receiver/*.outfile
code/WiFi/receiver/*.out
code/WiFi/receiver/*~
code/WiFi/receiver/*.old
code/WiFi/receiver/compout
code/WiFi/receiver/vectorized/*.c
code/WiFi/receiver/vectorized/*.exe
code/WiFi/receiver/vectorized/*.expanded
code/WiFi/receiver/vectorized/*.outfile
code/WiFi/receiver/vectorized/*~
code/WiFi/receiver/vectorized/compout
code/WiFi/receiver/pipelined/old
code/WiFi/transmitter/*.c
code/WiFi/transmitter/*.exe
code/WiFi/transmitter/*.expanded
code/WiFi/transmitter/*.outfile
code/WiFi/transmitter/*~
code/WiFi/receiver/pipelined/*.wpl.c
code/WiFi/receiver/pipelined/*.wpl.expanded
code/WiFi/receiver/vectorized/pipelined/*.wpl.c
code/WiFi/receiver/vectorized/pipelined/*.wpl.expanded
code/WiFi/*/perf.txt
code/WiFi/*/*.dump
code/WiFi/*/*/*.dump
code/WiFi/*/perfout
code/WiFi/*/*/perfout
code/WiFi/*/compout
code/WiFi/*/*/compout
code/WiFi/*/*/*.c
code/WiFi/*/*/perf.txt
code/WiFi/*/*/*.expanded
code/WiFi/*/*/*.outfile
code/WiFi/*/*/*.out
code/WiFi/*/*/*.exe
code/WiFi/*/*/*.old
code/WiFi/*/*/*.tmp
code/WiFi/*/*.c
code/WiFi/*/*.expanded
code/WiFi/*/*.outfile
code/WiFi/*/*.old
code/WiFi/*/*.out
code/WiFi/*/*.tmp
code/WiFi/*/*.exe
code/WiFi/*/*/*/perf.txt
code/WiFi/*/*/*/*.c
code/WiFi/*/*/*/*.expanded
code/WiFi/*/*/*/*.outfile
code/WiFi/*/*/*/*.old
code/WiFi/*/*/*/*.exe
code/WiFi/*/*/*/*.tmp
csrc/*/*.err
csrc/*.suo
csrc/*/*.suo
csrc/CompilerDDK/sources
scripts/local/*
csrc/local/*
csrc/local/*/*
csrc/local/*/*/*
csrc/CompilerVS/Debug/*
csrc/CompilerVS/Release/*
csrc/CompilerVS/x64/*
csrc/CompilerVS/CompilerVS13-inline.vcxproj.user
csrc/CompilerVS/CompilerVS13-inline/x64/Release/CompilerVS13-inline.exe
csrc/CompilerVS/CompilerVS13-inline/x64/Release/CompilerVS13-inline.pdb
csrc/CompilerVS/CompilerVS13.opensdf
csrc/CompilerVS/CompilerVS13.sdf
csrc/CompilerVS/CompilerVS13.sln.cache
csrc/CompilerVS/CompilerVS13.vcxproj.user
csrc/CompilerVS/CompilerVS13/x64/Release/CompilerVS13.exe
csrc/CompilerVS/CompilerVS13/x64/Release/CompilerVS13.pdb
csrc/CompilerVS/CompilerVS13_32.vcxproj
code/WiFi/perf.txt
code/WiFi/perf/pref.txt
csrc/CompilerVS/*.outfile
csrc/CompilerVS/*.out
csrc/mac/CompilerVS/CompilerVS13-mac.opensdf
csrc/mac/CompilerVS/CompilerVS13-mac.sdf
csrc/mac/CompilerVS/CompilerVS13-mac.v12.suo
csrc/mac/CompilerVS/CompilerVS13-mac.vcxproj.user
csrc/mac/CompilerVS/CompilerVS13-mac/*/*
csrc/mac/CompilerVS/Debug/*
csrc/mac/CompilerVS/x64/*
csrc/mac/rx.c
csrc/mac/tx.c
tests/mac/*.c
tests/mac/*.expanded
csrc/CompilerVS/CompilerVS13/*
csrc/mac/CompilerVS/*.out
tests/mac/*.out
tests/parser/*.exe
tests/parser/*.dump
tests/vectorizer/*.expanded

code/WiFi/tests/*.bin
code/WiFi/testbed/*.bin
code/WiFi/perf/perf_*.txt
code/WiFi/perf_*.txt

code/WiFi/mac/CompilerVS/Debug/*
code/WiFi/mac/CompilerVS/x64/Debug/*
code/WiFi/mac/CompilerVS/x64/Release/*
code/WiFi/mac/CompilerVS/CompilerVS13-mac.opensdf
code/WiFi/mac/CompilerVS/CompilerVS13-mac.sdf
code/WiFi/mac/CompilerVS/CompilerVS13-mac.v12.suo
code/WiFi/mac/CompilerVS/CompilerVS13-mac.vcxproj.user

code/WiFi/testbed/samples/*

csrc/CompilerVS/CompilerVS13-inline
csrc/CompilerVS/*psess


code/examples/*.c
code/examples/*.exe
code/examples/*.expanded
code/examples/*.outfile
code/examples/*~
code/examples/compout
code/examples/perfout
code/examples/*dump

code/tutorial/*.c
code/tutorial/*.exe
code/tutorial/*.expanded
code/tutorial/*.outfile
code/tutorial/*~
code/tutorial/compout
code/tutorial/perfout
code/tutorial/*dump

tests/libs/*.c
tests/libs/*.exe
tests/libs/*.expanded
tests/libs/*.outfile
tests/libs/*~
tests/libs/compout
tests/libs/perfout
tests/libs/*dump
tests/libs/*outp


code/WiFi/sniffer/*dll

# for now, ignore AST dumps
*.ast.dump
*.ast.dump.ground
dist

# Temporary storage for perf results
code/WiFi/perf_results

# Disabled unit tests
*.disabled
